
<div class="jumbotron">
  <h1 class="display-4">
    <%= @task.name %>
  </h1>
  <p class="lead">
    <h2>Description</h2>
    <%= @task.description %>
  <br>
  <br>

  <h4> Due By </h4>

    <%= @task.due %>
    <br>
    <h4> Tag</h4>
    <%= @task.tag %>

  </p>
  <br/>
    <%= link_to "Edit this task", edit_task_path(@task), class: "btn btn-secondary d-inline-block" %>
    <%= button_to "Destroy this task", @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger d-inline-block" %>
</div>
<%= link_to "Back to tasks", tasks_path, class: "btn btn-dark d-inline-block" %>